{% macro card_service(icon, title, text) %}
    <div class="{{ html_classes('service-card ', {
        'service-card_clock': icon == 'clock',
        'service-card_gear': icon == 'gear',
        'service-card_hat': icon == 'hat',
        'service-card_rocket': icon == 'rocket',
        'service-card_ways': icon == 'ways',
        'service-card_dollar': icon == 'dollar',
    }) }}">
        <div class="service-card__title">{{ title }}</div>
        <div class="service-card__text">{{ text }}</div>
    </div>
{% endmacro %}
{% macro price_card(name, price, features) %}
    {% include 'templates/macro/_elements/base.price-card.twig' %}
{% endmacro %}
{% macro price_card_scaled_up(name, price, features) %}
    {% set theme = 'blueish' %}
    {% include 'templates/macro/_elements/base.price-card.twig' %}
{% endmacro %}
{% macro card_review(item) %}
    <div class="card-review">
        <div class="card-review__image"
             style="background-image: url('{{ item.photo }}');"></div>
        <div class="card-review__quote">{{ item.quote }}</div>
        <div class="card-review__author">
            <span class="card-review__author-name">{{ item.name }}</span>,
            <span class="card-review__author-title">{{ item.title }}</span>
        </div>
    </div>
{% endmacro %}


