{# index.twig #}
{% extends "templates/layout.twig" %}

{% block page %}

    {% set menuLinks = [
        'Home',
        'Service',
        'About us',
        'Pricing Table',
        'How it work',
        'Happy Clients',
        'Contact Us'
    ] %}
    {% set items = [] %}
    {% for item in menuLinks %}
        {% set items = items|merge([{title: item, link: '#'}]) %}
    {% endfor %}
    {% include 'templates/sections/header.twig' with {menuLinks: items}%}
    {% include 'templates/sections/look_at_me_first.twig' %}
    {% include 'templates/sections/services.twig' %}
    {% include 'templates/sections/about.twig'%}
    {% include 'templates/sections/prices.twig'%}







    <h2>buttons</h2>
    {% from 'templates/macro/buttons.twig' import button %}
    {{ button('Request a quote', {type:'submit'}) }}
    {{ button('Read more', {type:'link', outline: true}) }}
    {{ button('Get started', {type:'link', narrower: true}) }}
    {{ button('Get started now', {type:'link'}) }}
    {{ button('Subscribe now', {type:'submit'}) }}

{#    {% include 'templates/sections/look_at_me_first.twig' %}#}
{#    {% include 'templates/sections/services.twig' %}#}
{#    {% include 'templates/sections/about.twig' %}#}
{#    {% include 'templates/sections/prices.twig' %}#}
{#    {% include 'templates/sections/workflow.twig' %}#}
{#    {% include 'templates/sections/reviews.twig' %}#}
{#    {% include 'templates/sections/newsletter.twig' %}#}
{#    {% include 'templates/sections/footer.twig' %}#}
{% endblock %}